<center>
  <br>
  <h1><%= @animal.name %></h1>

  <p>
    <i><%= @animal.name %></i> is a <i><%= @animal.age %></i> year old <i><%= @animal.kind %></i> who enjoys<i><%= @animal.food %></i>.
  </p>
</center>
