<h1>New Animal</h1>

<ul>
  <% for message in @animal.errors.full_messages %>
    <li><%= message %></li>
  <% end %>
</ul>

<%= form_for(@animal) do |form| %>
  <p>
    <%= form.label(:name) %><br>
    <%= form.text_field(:name) %><br>
  </p>
  <p>
    <%= form.label(:kind) %><br>
    <%= form.text_field(:kind) %><br>
  </p>
  <p>
    <%= form.label(:age) %><br>
    <%= form.text_field(:age) %><br>
  </p>
  <%= form.submit("Create Animal") %>
<% end %>
