<h1>New Visit</h1>

<ul>
  <% for message in @visit.errors.full_messages %>
    <li><%= message %></li>
  <% end %>
</ul>

<%= form_for(@visit) do |form| %>
  <p>
    <%= form.label(:animal_id) %><br>
    <%= form.text_field(:animal_id) %><br>
  </p>
  <p>
    <%= form.label(:visitor) %><br>
    <%= form.text_field(:visitor) %><br>
  </p>
  <p>
    <%= form.label(:date) %><br>
    <%= form.text_field(:date) %><br>
  </p>
  <%= form.submit("Visit Your Animal") %>
<% end %>
